.clmn-contract-color {
        background-color: #FFD966 !important;
}
.clmn-cash-color {
        background-color: #D096BF !important;
}
.clmn-acceptance-color {
        background-color: #B4C6E7 !important;
}
.clmn-margin-color {
        background-color: #F4FD9F !important;
}
