.employee-info {
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.employee-info .card-img-top {
    width: 60%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
