.o_main_navbar{
       background-color: #0F5F8B !important;
}
.btn-primary {
       background-color: #0F5F8B !important;
       border-color: transparent !important;
}
.o_main_navbar .show .dropdown-toggle, o.main_navbar > ul > li > a:hover {
       background-color: #0F5F8B !important;
}
.btn-secondary {
       color: #0F5F8B !important;
}
.o_external_button{
      color: #0F5F8B !important;
}

.o_dropdown_button{
      color: #0F5F8B !important;
}

.o_home_menu_background .o_main_navbar {
       background-color: transparent !important;
       border-color: transparent !important;
}
.o_home_menu_background .o_main_navbar .show .dropdown-toggle .o_home_menu_background{
       background-color: transparent !important;
}