.o_action_manager {
    overflow: auto !important;
}

.dashboard-card {
    padding: 0px;
    margin-bottom: 1.5rem;
    border-radius: 0px;
    box-shadow: none;
    background: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
    text-align: center;
}

.dashboard-card:hover {
    transform: translateY(-2px) translateZ(0) !important;
}

/*    Widget One
---------------------------*/
.stat-content {
    display: inline-block;
    width: 66%;
}

.stat-widget-one .stat-text {
    font-size: 11px;
    color: #0f5f8b;
    font-weight: bold;
    text-align: center;
}

.stat-widget-one .stat-digit {
    font-size: 24px;
    color: #0f5f8b;
    text-align: center;
}

.stat-count {
    font-size: 20px;
    text-align: center;
    color: #0f5f8b;
}

.stat-title {
    font-size: 17px;
    text-align: center;
    color: #0f5f8b;
}

.my_to_do_tasks .stat-widget-one .stat-text {
    color: #0f5f8b;
}

.my_to_do_tasks .stat-widget-one .stat-digit {
    color: #0f5f8b;
}

.my_overdue_tasks .stat-widget-one .stat-text {
    color: #dc3545;
}

.my_overdue_tasks .stat-widget-one .stat-digit {
    color: #dc3545;
}

.by_me_to_do_tasks .stat-widget-one .stat-text {
    color: #0f5f8b;
}

.by_me_to_do_tasks .stat-widget-one .stat-digit {
    color: #0f5f8b;
}

.by_me_overdue_tasks .stat-widget-one .stat-text {
    color: #dc3545;
}

.by_me_overdue_tasks .stat-widget-one .stat-digit {
    color: #dc3545;
}

.group_to_do_tasks .stat-widget-one .stat-text {
    color: #0f5f8b;
}

.group_to_do_tasks .stat-widget-one .stat-digit {
    color: #0f5f8b;
}

.group_overdue_tasks .stat-widget-one .stat-text {
    color: #dc3545;
}

.group_overdue_tasks .stat-widget-one .stat-digit {
    color: #dc3545;
}

/*=====================Process Chart===========================*/
.chart_container {
    display: grid;
    grid-template-columns: auto 110px;
    justify-items: center;
}

.process_heading {
    background-color: #fff !important;
    color: #0F5F8B !important;
    border-radius: 5px;
    border-color: #0F5F8B;
    border-style: double;
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    text-align: center;
    max-width: 110%;
}

.process {
    background-color: #0F5F8B !important;
    color: #fff !important;
    border-radius: 5px;
    border-color: #0F5F8B;
    border-width: 2px;
    border-style: solid;
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    align-self: stretch;
    text-align: center;
    max-width: 110%;
}

.task {
    background-color: #0F5F8B !important;
    color: #fff !important;
    border-radius: 10px;
    border-color: #0F5F8B;
    border-width: 2px;
    border-style: solid;
    font-size: 90% !important;
    padding: 2px 6px 2px 6px;
    align-self: stretch;
    text-align: center;
    max-width: 100%;
}

.chart_closed {
    background-color: #28a745 !important;
}

.chart_overdue {
    background-color: #DC3545 !important;
}

.chart_col_1 {
    grid-column: 1;
}

.chart_col_2 {
    grid-column: 2;
    justify-self: start;
    align-self: center;
    white-space: pre-wrap;
    line-height: 1;
    margin-left: 5px;
}

.chart_col_2 em {
    text-weight: bold;
}

.vl {
    background: linear-gradient(#0F5F8B, #0F5F8B) no-repeat center/6px 100%;
    height: 20px;
    margin: 0px;
    color: #0F5F8B;
}

.vl_short {
    background: linear-gradient(#0F5F8B, #0F5F8B) no-repeat center/6px 100%;
    height: 4px;
    margin: 0px;
    color: #0F5F8B;
}
