$o-processing-base-time: 0.5s !default;
$o-processing-dot-size: 20px !default;
$o-processing-progress-size: 2px !default;

$o-processing-colors: (
    'blue': (
        'ui': (#60abc3, #4187ae, #ff0000)
    )
) !default;
